body {
    /* Set line height to 1.5 times the font size
         and use the OS’s UI font as the website font
       */
    font: 100%/1.5 system-ui;
  }
img {
    width: 500px; /* Sets the width to 200 pixels */
    height: 450px; /* Sets the height to 150 pixels */
  }